{% extends "base.html" %} {% block content %}
<div class="container has-text-centered">
    <div class="row my-3 p-3">
        <div class="col-2">
            <img src="{{url_for('static',filename='img/home.png')}}" alt="" width="128" height="128">
        </div>
        <div class="col">
            <p>我是鄭子瑜，目前就讀國立台灣大學電機所資訊安全碩士班一年級，ctf常用id是Betray / ccccc</p>
            <p>在資安領域比較擅長的是打pwn</p>
            <p>我不會寫網站，不要打爆我拜託。</p>
            <p>asef18766很強，有問題可以請教他，他準備要帶我pass密碼學。</p>
        </div>

    </div>

    <!-- <p>我朋友asef18766 is god，不解釋。</p> -->
</div>

{% endblock %}