{% extends "base.html" %} {% block content %}
{% autoescape true %}

<script>
    function scrolltoMessageBox() {
        var access = document.getElementById("message_box");
        access.scrollIntoView({ behavior: 'smooth' }, true);
    }
</script>
<div class="box my-3 ">
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="container-sm alert alert-danger" role="alert">
        {{ messages[0] }}
    </div>
    {% endif %} {% endwith %}

</div>

<div class="container-sm  alert alert-primary ">
    <main role="main" class="container bootdey.com">
        <button onclick="scrolltoMessageBox()" class="btn btn-success">Send New Message</button>
        {% for message in message_list %}
        {% if message.is_deleted == 0 %}

        {% if message.user.username == session['username'] %}

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <div class="media text-muted pt-2">
                <div class="row justify-content-md-center">
                    <div class="col-2">
                        <div class="row">
                            <div class="col-12">
                                <img src="{{url_for('static',filename='img/' + message.user.img_name)}}" alt=""
                                    class="mr-3 rounded" width="32" height="32">
                            </div>
                            <div class="col">
                                <strong class="d-block text-gray-dark" style="word-wrap: break-word">
                                    <font size="-1">@{{message.user.username}}</font>
                                </strong>
                            </div>
                        </div>


                    </div>
                    <div class="col-5" style="word-wrap: break-word">{{message.message}}</div>
                    <div class="col-2">
                        <form action="/delete_message" method="post">
                            <input type="hidden" name="msg_id" value="{{message.id}}">
                            <button class="btn btn-danger" role="button"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"><i
                                    class="fa fa-trash"></i></button>
                        </form>
                        <strong class="d-block text-gray-dark">
                            <font size="-1">{{message.timestamp}}</font>
                        </strong>
                    </div>

                </div>

                <div class="row justify-content-md-center">
                    <div class="col-2">
                    </div>
                    <div class="col-5" style="word-wrap: break-word"></div>
                    <div class="col-2"></div>
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"></p>
                    </p>
                </div>

            </div>

        </div>

        {% else %}

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <div class="media text-muted pt-2">
                <div class="row justify-content-md-center">
                    <div class="col-2">

                        <div class="row">
                            <div class="col-12">
                                <img src="{{url_for('static',filename='img/' + message.user.img_name)}}" alt=""
                                    class="mr-3 rounded" width="32" height="32">
                            </div>
                            <div class="col">
                                <strong class="d-block text-gray-dark" style="word-wrap: break-word">
                                    <font size="-1">@{{message.user.username}}</font>
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-5" style="word-wrap: break-word">{{message.message}}</div>
                    <div class="col-2"></div>
                </div>

                <div class="row justify-content-md-center">
                    <div class="col-2">
                    </div>
                    <div class="col-5"></div>
                    <div class="col-2"><strong class="d-block text-gray-dark">
                            <font size="-1">{{message.timestamp}}</font>
                        </strong></div>
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"></p>
                    </p>
                </div>

            </div>

        </div>

        {% endif %}

        {% else %}

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <div class="media text-muted pt-2">
                <div class="row justify-content-md-center">
                    <div class="col-2">
                        <div class="row">
                            <div class="col-12">
                                <img src="{{url_for('static',filename='img/' + message.user.img_name)}}" alt=""
                                    class="mr-3 rounded" width="32" height="32">
                            </div>
                            <div class="col">
                                <strong class="d-block text-gray-dark" style="word-wrap: break-word">
                                    <font size="-1">@{{message.user.username}}</font>
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-5" style="word-wrap: break-word">Message Deleted</div>
                    <div class="col-2"></div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-2">
                    </div>
                    <div class="col-5"></div>
                    <div class="col-2"><strong class="d-block text-gray-dark">
                            <font size="-1">{{message.timestamp}}</font>
                        </strong></div>
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray"></p>
                    </p>
                </div>


            </div>

        </div>


        {% endif %}
        {% endfor %}
    </main>
</div>



<div class="d-grid gap-3 p-5">
    <div class="container text-center alert alert-success " id="message_box">
        <h3 class="title mb-3">Message Box</h3>
        <div class="box">
            {% with messages = get_flashed_messages() %} {% if messages %}
            <div class="alert alert-danger" role="alert">
                {{ messages[0] }}
            </div>
            {% endif %} {% endwith %}
            <div class="col align-self-center">
                <form method="POST" action="/add_message">
                    <div class="input-group-append mb-3">
                        <div class="control">
                            <textarea class="form-control" placeholder="New Message" rows="3" name="message"></textarea>
                        </div>
                    </div>

                    <button class="btn btn-primary btn-block mb-4">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endautoescape %}


{% endblock %}