{% extends "base.html" %} {% block content %}
<div class="d-grid gap-3 p-5">
    <div class="container text-center alert alert-success ">
        <h3 class="title mb-3">Upload Img</h3>
        <div class="box">
            {% with messages = get_flashed_messages() %} {% if messages %}
            <div class="alert alert-danger" role="alert">
                {{ messages[0] }}
            </div>
            {% endif %} {% endwith %}
            <div class="col align-self-center">
                <form method="POST" action="/uploader" enctype = "multipart/form-data">
                    <input type = "file" name = "file" />
                    <input class="btn btn-primary btn-block mb-4" type = "submit"></button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}