{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="text-center mt-5">
        <h1>User</h1>
    </div>
    <style>

        table,
        th,
        td {
            border-collapse: collapse;
            padding: 10px;
        }
    </style>
    <div class="container-sm  alert alert-primary ">
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <div class="media text-muted pt-2">
                <div class="row justify-content-md-center">
                    <table border="1" frame=void rules=rows>
                        <tr class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <th >User ID</th>
                            <th >User Icon</th>        
                            <th >User Name</th>
                            
                        </tr>
                        {% for user in user_data %}
                        <tr class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <td width="10%">{{user.id}}</td>
                            <td width="10%">
                                <img src="{{url_for('static',filename='img/' + user.img_name)}}" alt=""
                                class="mr-3 rounded" width="32" height="32">
                            </td>
                            
                            <td style="word-wrap: break-word">{{user.username}}</td>
                        </tr>
                        
                        {% endfor %}

                    </table>

                </div>

            </div>

        </div>
    </div>

</div>

{% endblock %}